p{
color:green;
}

#orang1{
  color:orange
}

#000 main{
color:brown

}
li{
  display: inline-block;
}

a
{text-decoration: none}



ul{float:right}


div{
  background-color: rgb(67, 62, 134);
  padding: 30px;
  margin: 20px 
}


div{

  background-color: rgb(157, 153, 161);
  padding: 30px;
  margin: 20px
}
  body{margin: 40px

  }

  span{
    background-color: rgb(170, 170, 219)
  }
